<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Attendance Report</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style2.css' %}">

</head>


<body>

<div class="container">

    <h1 class="heading">
        Attendance Report
    </h1>


    <table class="student-table">

        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Date</th>
            <th>Status</th>
        </tr>


        {% for record in attendance %}

        <tr>

            <td>{{ record.student_id }}</td>

            <td>{{ record.student_name }}</td>

            <td>{{ record.date }}</td>

            <td>{{ record.status }}</td>

        </tr>


        {% empty %}

        <tr>
            <td colspan="4">
                No Attendance Records
            </td>
        </tr>

        {% endfor %}


    </table>


    <a href="{% url 'home' %}">
        <button class="btn">
            Back Home
        </button>
    </a>


</div>


</body>

</html>